.cardContainer {
  min-height: 80px;
  width: 300px;
  padding: 6px 8px 2px;
}
.textArea {
  resize: none;
  width: 272px;
  overflow: hidden;
  outline: none;
  border: none;
}
.buttonGroup {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.buttonAdd {
  color: white !important;
  background: green !important;
}

.buttonClose {
  margin-left: 10px !important;
}
